/*Goolge Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}
body , html {
    overflow-x: hidden;
}

/*NAVBAR  */

.navbar {
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.navbar h1 a {
    color: #fff;
    font-family: "Papyrus", "Papyrus", Fantasy;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}
.nav-links li a{
    color: #fff;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/pexels-elina-sazonova-1838552.jpg);
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
header h1{
    font-family: cursive;
}
.backdrop{
    background-size: cover;
}

.backdrop2 {
    background-color: rgba(0, 0, 0, 0.5);
}

.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /*min-height: 1vh;*/
}


.clk-btn {
    width: 90px;
    height: 30px;
    border: none;
    color: white;
    background-color: #fc036b;
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 #5dbe24;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    vertical-align: middle;
}

.clk-btn:hover {
    border-radius: 20px;
    box-shadow: inset 90px 0 0 0 #5dbe24;
    cursor: pointer;
    color: #000000;
}
.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin;
    padding-top: 225px;
}
.header-content a{
color: #fff;
}
.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/*About Us*/

.about{
    width: 100%;
    height: 100vh;
    background-color: #161922;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .content img{
    height: auto;
    width: 600px;
    max-width: 100%
}
.text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text h1{
    color: #ffcc74;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.text h5{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.text p{
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
.secondbut {
    background-color: #ffcc74;
    color: black;
    border: 5px solid transparent;
    text-decoration: 10px 30px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}
.secondbut:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: .2px solid #ffcc74;
    color: #ffcc74;
    transition: .4s;
    cursor: pointer;
}


@media screen and (max-width: 1180px) {
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media screen and (max-width: 650px) {
    .about .content img{
        margin-bottom: 35px;
    }
    .text h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
}

/*   Events      */

.events {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: black;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
    margin: 0px;
}
.row .col:hover{
    box-shadow: 7px 5px 13px 0px rgba(1, 24, 22,1);
}
.events .row {
    margin-top: 50px;
}
h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p {
    color: #7c7c7c;
    padding: 0px 40px;
    text-align: center;
    font-weight: 500;
}
.events .ctn {
    margin-top: 50px;
}
/*Explore*/

.explore {
    width: 100%;
    height: 80vh;
    background-image: url(../images/fertilization-g8cf4bac60_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1 {
    font-size: 7vmin;
    text-align: center;
}
.explore-content .line {
    margin-bottom: 50px;
}
.explore-content p {
    color: white;
    font-family: cursive;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 20px;
}
.explore .backdrop2 {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}
.explore-content .ctn {
    margin-top: 40px;
}

.content-col {
    width: 40%;
}
.image-col {
    width: 60%;
}

/*Forth design*/
.our{
    background-color: #fff;
    height: auto;
}
.heading {
    text-align: center;
    padding: 40px;
}
.heading h2{
    text-transform: capitalize;
    color: #000;
    font-size: 35px;
    line-height: 1.2;
}
.heading h2 span{
    color: crimson;
    font-style: italic;
}
.container-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    padding-bottom: 40px;
}
.container-box .box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    padding: 10px;
    margin: 15px 15px;
    transition: all 0.5s ease-in-out;
}
.container-box .box:hover{
    box-shadow: 7px 5px 13px 0px rgba(1, 24, 22,1);
}
.container-box .box-img{
    margin: 10px 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.container-box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.container-box .box-content{
    padding: 15px;
    text-align: center;
}
.container-box .box-content h3{
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    margin-top: 15px;
    text-transform: capitalize;
}
.box-content::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 5px;
    left: 0;
    top: 0;
    background-color: crimson;
}
.box-content h3::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    left: 38%;
    top: 53%;
    background-color: crimson;

}
.box-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    opacity: 0.7;
    margin-top: 15px;
}
.box-content a {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, 0);
    text-decoration: none;
    display: block;
    padding: 10px;
    text-transform: capitalize;
    color: #fff;
    background-color: crimson;
    border-radius: 2px;
    font-weight: 600;
}

@media screen and (max-width: 1180px) {
    .our{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media screen and (max-width: 650px) {
/*
    .aboutus .aboutus-content img{
        margin-bottom: 35px;
    }
*/
    .our .container-box .box{
        margin-bottom: 35px;
    }
}


/* Our Team  */
.content-box{
    background: #fff;
    height: auto;
    color: #000;
    margin: 35px;
}

h1{
    text-align: center;
    padding-top: 5px;
    font-size: 30px;

}
.content-box h1::after{
    content: '';
    background: #008000;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 50px;
}
.team .icon{
    font-size: 30px;
    margin: 20px auto;
    padding: 18px;
    height: 140px;
    width: 140px;
    border: 1px solid #008000;
    border-radius: 50%;
    color: #008000;
}
.team .icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.team h3{
    text-align: center;
    font-size: 20px;
}
.team h5{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    color: red;
}
.team p{
    font-size: 15px;
    margin-top: 10px;
    color: #000;
    padding: 10px;
}
.team span{
    color: #008000;
    transition: 0.5s;
}
.team .col-md-3:hover{
    background: linear-gradient(rgba(0,0,0,0.5),#008000);
    cursor: pointer;
    color: #000;
    box-shadow: -5px 5px 10px 0 rgba(0,0,0,0.4);
    transition: .5s;
}
.team .col-md-3:hover .icon{
    border: 1px solid #fff;
    color: #fff;
}
.team .col-md-3:hover p{
    color: #fff;
}
.team .col-md-3:hover h5{
    color: #000;
}
.team .col-md-3:hover span{
    color: #fff;
}
@media screen and (max-width: 1180px) {
    .team{
        width: 70%;
        height: 180vh;

    }
}

/* Team Respnsive */

@media screen and (max-width: 1180px) {
    .team{
        width: 100%;
        height: auto;
        align-items: center;
        padding: 30px 0px;
    }
}

/*About us*/

.aboutus{
    width: 100%;
    height: auto;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
/*
.aboutus .aboutus-content img{
    height: auto;
    width: 600px;
    max-width: 100%
}
*/
.aboutus-text {
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
}
.aboutus-content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.aboutus-text h1{
    color: #98E914;
    font-size: 65px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.aboutus-line {
    width: 200px;
    height: 2px;
    background: #06A69A;
    margin: 10px auto;
    border-radius: 5px;
    margin-bottom: 40px;
}
.aboutus-text h5{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.aboutus-text p{
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
/*    margin-bottom: 45px;*/
}
/*
/*Contact Us*/

.contact{
    background: url(../images/pexels-johannes-plenio-1146717.jpg);
    background: url(../images/pexels-johannes-plenio-1146717.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    width: 100%;
    padding-bottom: 80px;
}
.contact-form{
    width: 85%;
    height: auto;
    max-width: 600px;
    background: #eee;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    border-radius: 8px;
    text-align: center;
    padding-top: 0px;
}
.form{
    border: 1px solid #a9a9a9;
    margin: 7px 0px;
    padding: 6px 20px;
    border-radius: 8px;
}
.contact-form h1{
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 20px;
}
.contact-form p{
    font-weight: 500;
    margin-top: 10px;
    font-size: 18px;
}
.form label{
    font-size: 13px;
    color: #000;
    display: block;
    text-align: left;
    text-transform: uppercase;
}
.form input, .form textarea{
    width: 100%;
    font-size: 15px;
    margin-top: 5px;
    border: none;
    background: none;
    outline: none;
}
.button{
    width: 100%;
    display: inline-block;
    background-color: #95c44f;
    padding: 14px 0px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 8px;
    cursor: pointer;
    color: #fff;
}

button {
    background-color: #ffcc74;
    color: black;
    border: 5px solid transparent;
    text-decoration: 10px 30px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}
button:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: .2px solid #ffcc74;
    color: #ffcc74;
    transition: .4s;
    cursor: pointer;
}

/*  Fertilzer distributor details */

.disributor h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-family:cursive;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 110px;
}
.disributor p{
  font-size: 17px;
  color: #000;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.disributor table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:600px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
tr:hover{
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
        }



/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
.disributor{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}



/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
*/


/* Preloader   */

.chatbot-container {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}




@media screen and (max-width: 1180px) {
    .aboutus{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media screen and (max-width: 650px) {
/*
    .aboutus .aboutus-content img{
        margin-bottom: 35px;
    }
*/
    .aboutus-text h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 1150px) {
    .profiles {
        flex-direction: column;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .heading {
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .profiles {
        margin: 20px 0;
    }
    .profile p {
        margin: 20px 10px 80px 10px;
    }
}
/*   Footer    */

.footer {
/*
    width: 100%;
    min-height: 100px;
    padding: 0px 20px;
    margin: 0;
*/
    padding: 40px 0px;
    margin-bottom: 0px;
    background-color: #000;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}
.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
.footer .copyright span{
    color: crimson;
    font-weight: 800;
}
/*
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}
*/

/*Mobile devices (Responsive)    */ 

@media only screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;
        
    }
    /*      Event Responsive    */
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
    
    /*   Explore Content Responsive   */

    @media screen and (max-width: 1180px) {
    .explore{
        width: 100%;
        height: auto;
    }
    .explore-content {
        width: 100%;
    }
}

    /*    Tours Responsive  */
    .tours .col {
        width: 100%;
    }
    .image-gallery {
        justify-content: center;
        align-items: center;
    }
    .image-gallery img {
        width: 90%;
    }
    /*    Footer Responsive   */
    .footer {
        padding: 10px;
    }
}