{% extends 'layout.html' %} {% block body %}


<section class="aboutus">
        <div class="aboutus-content">
<!--            <img src="img/farmer_PNG63.png">-->
            <div class="aboutus-text">
                <h1 style="text-align: center; margin: 0px; margin-top: 50px; padding-top: 80px;">About Us</h1>
                <div class="aboutus-line"></div>
                <p>Agriculture is the lifeblood of our nation. Without our farmers and their yield, we have no source of sustenance. This revelation, coupled with the problems wrought by the pandemic, was the impetus that led our team of eight on this path. Despite their obvious importance, our farmers are stuck using techniques and processes that lay far behind what they deserve. Our hope is that this website allows farmers to use the knowledge and wisdom of modern technology to supplement their plans with sufficient reasoning and foresight, while being able to find meaningful solutions to the problems that ail their existing crop.</p>
                <br>
<!--                <br><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>-->
<!--                <br><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>-->
<!--                <br>-->
            </div>
        </div>
    </section>

{% endblock %}