{% extends 'layout.html' %} {% block body %}

<section class="contact">
    <div class="contact-form">
        <h1>Contact Us</h1>
        <div class="form">
                <label>Full Name: </label>
                <input type="text" name="" value="" placeholder="Enter Your Name">
            </div>
            <div class="form">
                <label>Email: </label>
                <input type="email" name="" value="" placeholder="Enter Your Email Address">
            </div>
            <div class="form">
                <label>Phone Number: </label>
                <input type="text" name="" value="" placeholder="Enter Your Phone Number">
            </div>
            <div class="form">
                <label>Message: </label>
                <textarea></textarea>
            </div>
            <a href="" class="button">Send</a>
    </div>
</section>

{% endblock %}