{% extends 'layout.html' %} {% block body %}

<section class="disributor">
  <!--for demo wrap-->
  <h1>Fertilizer stores in Madhya Pradesh</h1>
    <p>Here we are with an informative list of some of the fertilizer stores located in Madhya Pradesh.This will help you to approach the nearby stores in your district.We are looking forward to expand our reach of stores all over India. We hope that this will surely save a lot of time of our farmer brothers. </p>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Serial No.</th>
          <th>Dealer Name</th>
          <th>Street Address</th>
          <th>District</th>

        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>1</td>
          <td>Aadhya Shakti Agency</td>
          <td>Takies Chouraha Alirajpur</td>
          <td>Alirajpur</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Amco Krishi Nivesh Vipanan Kendra</td>
          <td>10 Pratap Ganj Marg Alirajpur</td>
          <td>Alirajpur</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Adim Jati Sewa Sahkari Samiti Maryadit-Bijuri</td>
          <td>Kotma</td>
          <td>Anuppur</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Banjhal Khad Vikray kendra</td>
          <td>Vidisha Road</td>
          <td>Vidisha</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Manoj Ganjbhoj</td>
          <td>Jai Bajranj Krishi Kendra</td>
          <td>Balaghat</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Dinesh Mukati</td>
          <td>Kisan Mart</td>
          <td>Barwani</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Balaji Agro Sales</td>
          <td>Bordehi</td>
          <td>Betul</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Agri Clinic And Input Centre</td>
          <td>Galla Mandi, Gohad</td>
          <td>Bhind</td>
        </tr>
        <tr>
          <td>9</td>
          <td>AMJHERA (Bhopal) SSS</td>
          <td>Adampur Chawani</td>
          <td>Bhopal</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Chandra Prakesh Upadhayay </td>
          <td>Sukhi Savania Phanda Bhopal</td>
          <td>Bhopal</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Anil Navneetal</td>
          <td>Shah Bazar Burhanpur</td>
          <td>Burhanpur</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Baa Prasad Bilthare</td>
          <td>Ghouwara Road</td>
          <td>Chhatarpur</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Aakash Krushi Kendra </td>
          <td>Amarwada</td>
          <td>Chhindwara</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Harish Beej Bhandar</td>
          <td>Kachora Shopping Centre</td>
          <td>Damoh1</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Anil Rajpoot</td>
          <td>Badoni Khurd</td>
          <td>Datia</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Agrawal Trader & Sons</td>
          <td>Shipra</td>
          <td>Dewas</td>
        </tr>
        <tr>
          <td>17</td>
          <td>Bhagwan Singh </td>
          <td>Choudari Traders</td>
          <td>Dhar</td>
        </tr>
        <tr>
          <td>18</td>
          <td>DMO</td>
          <td>Dindori</td>
          <td>Dindori</td>
        </tr>
        <tr>
          <td>19</td>
          <td>Ajay Bhiyalal</td>
          <td>Ajay Krishi Sewa Kendra</td>
          <td>East Nimar</td>
        </tr>
        <tr>
          <td>20</td>
          <td>Aparna Choudhary</td>
          <td>A. B. Road</td>
          <td>Guna</td>
        </tr>
        <tr>
          <td>21</td>
          <td>Balaji Khad Bhandar </td>
          <td>Bujurg Road</td>
          <td>Gwalior</td>
        </tr>
        <tr>
          <td>22</td>
          <td>Radha Mukund Fertilizer</td>
          <td>Subhas Ward Harda</td>
          <td>Harda</td>
        </tr>
        <tr>
          <td>23</td>
          <td>AMCO Krishi Vipanan Kendra</td>
          <td>AMCO Krishi Vipanan Kendra</td>
          <td>Hoshangabad</td>
        </tr>
        <tr>
          <td>24</td>
          <td>Advance Crop Care (India) Pvt. Ltd.</td>
          <td>203, Indore Trade Center</td>
          <td>Indore</td>
        </tr>
        <tr>
          <td>25</td>
          <td>Agrawal Brothers </td>
          <td>625, Baldeo Bagh</td>
          <td>Jabalpur</td>
        </tr>
        <tr>
          <td>26</td>
          <td>Geetabai Krashi Sewa Kendra</td>
          <td>Petlawad Road</td>
          <td>Jhabua</td>
        </tr>
        <tr>
          <td>27</td>
          <td>M. P. Agro</td>
          <td>Paharua Mandi</td>
          <td>Katni</td>
        </tr>
        <tr>
          <td>28</td>
          <td>Ambika Krashi Sewa Kendra</td>
          <td>Bus Stand Nandgaw Road</td>
          <td>Khargone</td>
        </tr>
        <tr>
          <td>29</td>
          <td>Deepchand Nayak </td>
          <td>Khaddeora</td>
          <td>Mandla</td>
        </tr>
        <tr>
          <td>30</td>
          <td>Agrawal Khad Bhandar</td>
          <td>Mandsaur</td>
          <td>Mandsaur</td>
        </tr>
        <tr>
          <td>31</td>
          <td>Agrawal Sales Corporation</td>
          <td>Station Road Morena</td>
          <td>Morena</td>
        </tr>
        <tr>
          <td>32</td>
          <td>Akhilesh Sharma</td>
          <td>Sharma Agencies</td>
          <td>Narsinghpur</td>
        </tr>
        <tr>
          <td>33</td>
          <td>Amarsingh Hiralal Jain</td>
          <td>Sadar Bazar, Hawar, Jeeran</td>
          <td>Neemuch</td>
        </tr>
        <tr>
          <td>34</td>
          <td>Ajaypal Agro Enterprises</td>
          <td>Old Power House</td>
          <td>Panna</td>
        </tr>
        <tr>
          <td>35</td>
          <td>Kisan Fertilizer</td>
          <td>Raisen</td>
          <td>Raisen</td>
        </tr>
        <tr>
          <td>36</td>
          <td>Akhilesh Ramgopal Gupta</td>
          <td>Patel Krishi Sewa Kendra, Khujner</td>
          <td>Rajgarh</td>
        </tr>
        <tr>
          <td>37</td>
          <td>Adim Jati Sewa Sahkari Sanstha</td>
          <td>Village Kaneri, Block Ratlam</td>
          <td>Ratlam</td>
        </tr>
        <tr>
          <td>38</td>
          <td>Jai Prakash</td>
          <td>JP Nagar Rewa</td>
          <td>Rewa</td>
        </tr>
        <tr>
          <td>39</td>
          <td>Ajar Kumar Jain</td>
          <td>Paras Traders Sahpur</td>
          <td>Sagar</td>
        </tr>
        <tr>
          <td>40</td>
          <td>Rajesh Traders</td>
          <td>Ram Nagar</td>
          <td>Satna</td>
        </tr>
        <tr>
          <td>41</td>
          <td>Ashok Bharti Ram Singh</td>
          <td>Vaishnavi Traders</td>
          <td>Sehore</td>
        </tr>
        <tr>
          <td>42</td>
          <td>Aastha Krishi Kendra</td>
          <td>Chhindwara Road</td>
          <td>Seoni</td>
        </tr>
        <tr>
          <td>43</td>
          <td>Chauhan Beej Bhandar</td>
          <td>Sabji Mandi</td>
          <td>Shahdol</td>
        </tr>
        <tr>
          <td>44</td>
          <td>Agrawal Traders</td>
          <td>44, Shastri Marg</td>
          <td>Shajapur</td>
        </tr>
        <tr>
          <td>45</td>
          <td>Gyanchand Jain</td>
          <td>Pali Road</td>
          <td>Sheopur</td>
        </tr>
        <tr>
          <td>46</td>
          <td>Amit Jain</td>
          <td>Navgarh Mandir</td>
          <td>Shivpuri</td>
        </tr>
        <tr>
          <td>47</td>
          <td>Bhaiyalal Biharilal</td>
          <td>Sidhi</td>
          <td>Sidhi</td>
        </tr>
        <tr>
          <td>48</td>
          <td>Amar Traders</td>
          <td>Mada</td>
          <td>Sangrauli</td>
        </tr>
        <tr>
          <td>49</td>
          <td>Abhay Kumar Jain</td>
          <td>Galla Mandi</td>
          <td>Tikamgarh</td>
        </tr>
        <tr>
          <td>50</td>
          <td>Abhay Kumar Rajmal Jain</td>
          <td>Sabji Market, Main Road</td>
          <td>Ujjain</td>
        </tr>
        <tr>
          <td>51</td>
          <td>Brijmohal Agrawal</td>
          <td>Chandia</td>
          <td>Umaria</td>
        </tr>
        <tr>
          <td>52</td>
          <td>M. P. State Mark. Fed.</td>
          <td>DMO Office, Vidisha</td>
          <td>Vidisha</td>
        </tr>
      </tbody>
    </table>

  </div>
  <br /><br />
  <h5 style="text-align: center; margin: 0px; padding-top: 20px; padding-bottom: 20px; color: black">
    If you have any question or Query then, <a href="{{ url_for('Contact_us') }}">Contact Us</a>
  </h5>
  <br />
  <br>
</section>




{% endblock %}